@import "tailwindcss";
@theme {
    --font-poppins: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --color-primary: #00B207;
    --color-primary-bright: #84D187;
    --color-primary-dark: #2C742F;
}

* {
    font-family: var(--font-poppins);
}


/* Swiper js pagination styling */


/* Inactive bullets (optional) */

.swiper-pagination-bullet {
    background-color: gray;
    /* or whatever color you want for inactive bullets */
}


/* Active bullet */

.swiper-pagination-bullet-active {
    background-color: #00B207 !important;
}